body {
    background-color: black;
    color: white;

    div{

    }
}
#app {
    text-align: center;
}
.search-results {
    display: inline-flex;

    .track-list {
        padding: 25px;
        align-self: flex-start;
    }

    .track-data {
    	padding: 25px;
    	background-color: white;
    	color: black;
    	width: 50%;

        .stream-status img{
            max-width: 25px;
            cursor:pointer;
        }


    }
}




.actions-area{
    button{

    }
}
