a,
a:focus,
a:hover {
  color: #fff;
}

html,
body {
  height: 100%;
  background-color: #333333;
}

body {
    color: #ffffff;
    text-align: center;
    //text-shadow: 0 1px 3px rgba(0,0,0,.5);
}
#app {
    text-align: center;
}
.search-results {
    display: inline-flex;

    .track-list {
        padding: 25px;
        align-self: flex-start;

        div:hover{
            background-color: white;
            color: black;
            cursor: pointer;
        }
    }

    .track-data {
    	padding: 25px;
    	background-color: white;
    	color: black;

        .stream-status img{
            max-width: 25px;
            cursor:pointer;
        }


    }
}

.search-history{
    margin: 10px 0;
    .history-items div{
        margin: 0 10px;
        display: inline-block;
        cursor: pointer;
        &:hover{
            background-color: white;
            color: black;
        }
        &::before{
            content: " // "
        }
        &::after{
            content: " // "
        }
    }
}


.buttons-area{
    button{
        background-color: #fff
    }
}


@media only screen and (max-device-width : 480px) {
    .search-results {
        display: block;
    }


}
